;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================
[fonts]
font-0 = Font Awesome 5 Free Solid:weight=Bold:size=10;0
font-1 = Cascadia Code Pl-bold:weight=Bold:pixelsize=10;1
font-2 = JoyPixels:scale=10;2
;font-2 = NotoEmoji:scale=10;2
font-3 = siji:weight=Bold:pixelsize=11;3

[colors]
;background = ${xrdb:color0:#222}
;bar background except tags
background = #111111
background-alt = #9595b7
;foreground = ${xrdb:color7:#222}
;foreground for bar
foreground = #4cdbe0
;widget icon colrs
foreground-alt = #eeeeee
; tags background
primary = #111111
secondary = #4cdbe0
alert = #bd2c40
window-name-color = #ee9900

tag-focused-foreground = #ec5a9d
tag-unfocused-foreground = #ec5a9d
tag-visible-foreground = #33ff33

tag-focused-background = #9595b7
tag-unfocused-background = #444444
tag-visible-background = #50a5c7
tag-urgent-background = #005577

widget-color = #ec5a9d
widget-color-alt = #4cdbe0
widget-bg-color = #111111
widget-bg-color-alt = #111111

[bar/mybar]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 28
radius = 6.0
fixed-center = false
border-size = 2
border-color = ${colors.primary}
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 1
font-0 = ${fonts.font-0}
font-1 = ${fonts.font-1}
font-2 = ${fonts.font-2}
modules-left = dwm 
modules-center = date 
;mpd
modules-right = mycpu mymemory gpu-temp wlan mynet myvolume mypacupdate isrunning-picom  powermenu
tray-position = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize
enable-ipc = true


[bar/mybar2]
monitor = ${env:MONITOR:DP-3}
width = 100%
height = 28
radius = 6.0
fixed-center = false
border-size = 2
border-color = ${colors.primary}
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 0
font-0 = ${fonts.font-0}
font-1 = ${fonts.font-1}
font-2 = ${fonts.font-2}
modules-left = dwm
;modules-center = mpd
;modules-right = memory cpu wlan temperature myvolume date powermenu
tray-position = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize



[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%


[module/mycpu]
type = custom/script
exec = ~/.config/polybar/scripts/cpu
;exec-if = pgrep -x openvpn
interval = 6
;format-underline = #268bd2
format-prefix = " "
format-prefix-foreground = ${colors.widget-color}
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
;format-suffix = |
click-left = notify-send " CPU hogs" "$(ps axch -o cmd:15,%cpu --sort=-%cpu | head)\\n(100% per core)"
click-middle = notify-send "CPU details"
click-right = st -e htop
scroll-up =
scroll-down =
double-click-left =
double-click-right =

[module/mymemory]
type = custom/script
exec = ~/.config/polybar/scripts/memory
;exec-if = pgrep -x openvpn
interval = 6
;format-underline = #268bd2
format-prefix = " "
format-prefix-foreground = ${colors.widget-color-alt}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}
;format-suffix = |
click-left = notify-send "🧠 Memory hogs" "$(ps axch -o cmd:15,%mem --sort=-%mem | head)"
click-middle = notify-send "🧠 Memory module" "\- Shows Memory Used."
click-right = st -e htop
scroll-up =
scroll-down =
double-click-left =
double-click-right =


[module/gpu-temp]
type = custom/script
exec = ~/.config/polybar/scripts/gpu-temp
;exec-if = pgrep -x openvpn
interval = 6
;format-underline = #268bd2
format-prefix = " "
format-prefix-foreground = ${colors.widget-color}
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
;format-suffix = |
click-left = notify-send "🧠 GPU Details" "$(nvidia-smi)"
click-middle = notify-send "Nvidia GPU" "\- Shows GPU Temp."
click-right = st -e nvidia-settings
scroll-up =
scroll-down =
double-click-left =
double-click-right =


[module/wlan]
type = internal/network
interface = wlp37s0
interval = 20.0
format-connected = <ramp-signal> <label-connected>
;format-connected-underline = #9f78e1
label-connected = %essid% 
;|
label-connected-foreground = ${colors.widget-color-alt}
label-connected-background = ${colors.widget-bg-color}
;format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}
ramp-signal-0 = 
;
;ramp-signal-1 = 
;ramp-signal-2 = 
;ramp-signal-3 = 
;ramp-signal-4 = 
;
ramp-signal-foreground = ${colors.widget-color-alt}
format-prefix-foreground = ${colors.widget-color-alt}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}

click-left = blueman-manager
click-middle = notify-send "Network" "Click for Wifi Manager
click-right = nm-applet
scroll-up =
scroll-down =
double-click-left =
double-click-right =


[module/mynet]
type = custom/script
exec = ~/.config/polybar/scripts/net
;exec-if = pgrep -x openvpn
interval = 10
;format-underline = #268bd2
format-prefix = ""
format-prefix-foreground = ${colors.widget-color}
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
;format-suffix = |
click-left = blueman-manager
click-middle = notify-send "Network" "Click for Wifi Manager
click-right = nm-applet
scroll-up =
scroll-down =
double-click-left =
double-click-right =


[module/myvolume]
type = custom/script
exec = ~/.config/polybar/scripts/volume
;exec-if = pgrep -x openvpn
interval = 5
;format-underline = #268bd2
format-prefix = ""
format-prefix-foreground = ${colors.widget-color-alt}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}
;format-suffix = |
click-left = pavucontrol
click-middle = notify-send "Volume" "Click for Settings Right click for equalizer"
;click-right = pulseaudio-equalizer-gtk
scroll-up = "amixer -q -D pulse sset Master 5%+" 
scroll-down = "amixer -q -D pulse sset Master 5%-" 
double-click-left =
double-click-right =



[module/mypacupdate]
type = custom/script
exec = ~/.config/polybar/scripts/pacupdate
;exec-if = pgrep -x openvpn
interval = 600
;format-underline = #268bd2
format-prefix = " "
format-prefix-foreground = ${colors.widget-color}
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
;format-suffix = |
click-left = "st -e paru -Syu"
click-middle = notify-send "Pamac Update" "Click for update Right click for pacman"
click-right = pamac-manager
scroll-up = 
scroll-down = 
double-click-left =
double-click-right =


[module/date]
type = internal/date
interval = 15
date = " %a, %b %d"
date-alt = " %Y-%m-%d"
time = "%l:%M%p"
time-alt = %H:%M:%S
;format-prefix = 
format-prefix-foreground = ${colors.widget-color-alt}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}
;format-underline = #0a6cf5
label = %date% %time% 
;format-suffix = " |"

[module/isrunning-picom]
type = custom/script
exec = ~/.config/polybar/scripts/picom.sh
interval = 10
;format-suffix = " |"
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}
click-left = ~/.config/polybar/scripts/picom.sh --toggle &

[module/powermenu]
type = custom/ipc
hook-0 = echo " "
hook-1 = oblogout && echo " "
initial = 1
format-prefix-foreground = ${colors.widget-color}
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
click-left = polybar-msg -p %pid% hook powermenu 2
click-middle = notify-send "Logout/Exit"


[module/dwm]
type = internal/dwm
format = <label-tags> <label-layout> <label-floating> <label-title>
; Path to dwm socket (default: /tmp/dwm.sock)
;socket-path = /tmp/dwm.sock

; Left-click to view tag, right-click to toggle tag view
enable-tags-click = true

enable-tags-scroll = true
tags-scroll-empty = false
tags-scroll-reverse = true
tags-scroll-wrap = true
; Left-click to set secondary layout, right-click to switch to previous layout
enable-layout-click = true
enable-layout-scroll = false
layout-scroll-wrap = false
layout-scroll-reverse = false

; If enable-layout-click = true, clicking the layout symbol will switch to this layout
secondary-layout-symbol = [M]

; Separator in between shown tags
; label-separator = |

label-title = %title%
label-title-maxlen = 65
label-title-padding = 1
label-title-foreground = ${colors.window-name-color}
label-title-background = ${colors.background}

label-layout = %symbol%
label-layout-padding = 1
label-layout-foreground = ${colors.foreground}
label-layout-background = ${colors.background}

; focused = Active tag on focused monitor
label-focused = %name%
label-focused-background = ${colors.background}
label-focused-foreground = #ec5a9d
label-focused-padding = 1
label-focused-font = 7

; unfocused = Inactive tag on any monitor
label-unfocused = %name%
label-unfocused-background = ${colors.background}
label-unfocused-foreground = ${colors.tag-unfocused-foreground}
label-unfocused-padding = 1
label-unfocused-font = 7

; visible = Active tag on unfocused monitor
label-visible = %name%
label-visible-background = ${colors.background}
label-visible-foreground = ${colors.tag-visible-foreground}
label-visible-padding = 1
label-visible-font = 7

; urgent = Tag with urgency hint set
label-urgent = %name%
label-urgent-background = ${colors.tag-urgent-background}
label-urgent-padding = 1
label-urgent-font = 7

; empty = Unselected and unoccupied tag
; This can be set to an empty string to hide empty tags
label-empty = %name%
label-empty-background = ${colors.primary}
label-empty-foreground = ${colors.secondary}
label-empty-padding = 1



[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
pseudo-transparency = false

[global/wm]
margin-top = 5
margin-bottom = 0

; vim:ft=dosini
