;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================
[misc]
tag-padding = 1

[fonts]
font-0 = Cascadia Code:pixelsize=12;3
font-1 = MesloLGS NF:weight=Bold:size=10;2
font-2 = JoyPixels:scale=10;1
font-3 = NotoEmoji:scale=10;2
font-4 = siji:weight=Bold:pixelsize=11;2
font-5 = 3270Narrow Nerd Font Mono:style=Medium:size=22;3
font-6 = 3270Narrow Nerd Font Mono:style=Medium:size=26;5
;MesloLGS NF:style=Regular:pixelsize=18;3

[colors]
;background = ${xrdb:color0:#222}
;bar background except tags
background = #77111111
background-alt = #779595b7
;foreground = ${xrdb:color7:#222}
;foreground for bar
foreground = #7cdbff
;widget icon colrs
foreground-alt = #eeeeee
; tags background
primary = #77222222
secondary = #7cdbff
alert = #bd2c40
;window-name-color = #22ffcc
window-name-color = #33dd33

tag-focused-foreground = #ff4add
tag-unfocused-foreground = #ff4add
tag-visible-foreground = #33ff33
tag-urgent-foreground = #005577

tag-unfocused-background = #7750a5c7
tag-visible-background = #99555555
tag-focused-background = #ffffffff
tag-urgent-background = #7750a5c7

widget-color = #ff4add
widget-color-alt = #7cdbff
widget-bg-color = #70111111
widget-bg-color-alt = #77111111

[bar/mybar]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 24
radius = 8.0
fixed-center = false
border-size = 2
border-color = ${colors.primary}
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 1

font-0 = ${fonts.font-0}
font-1 = ${fonts.font-1}
font-2 = ${fonts.font-2}
font-3 = ${fonts.font-3}
font-4 = ${fonts.font-4}
font-5 = ${fonts.font-5}
font-6 = ${fonts.font-6}
modules-left = archlogo dwm 
modules-center = mydate
;date ;mpd
modules-right = mycpu mymemory gpu-temp mynet myvolume mypacupdate isrunning-picom 
; wlan
;powermenu
;tray-position = right
;tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize
enable-ipc = true
separator = ""
background = ${colors.background}
foreground = ${colors.foreground}
font = 6

[bar/mybar2]
monitor = ${env:MONITOR:DP-3}
width = 100%
height = 24
radius = 8.0
fixed-center = false
border-size = 2
border-color = ${colors.primary}
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 1
font-0 = ${fonts.font-0}
font-1 = ${fonts.font-1}
font-2 = ${fonts.font-2}
font-3 = ${fonts.font-3}
font-4 = ${fonts.font-4}
font-5 = ${fonts.font-5}
font-6 = ${fonts.font-6}
modules-left = archlogo dwm
modules-center = mydate
;mpd 
;modules-right = memory cpu wlan temperature myvolume date powermenu 
cursor-click = pointer
cursor-scroll = ns-resize
separator = ""
background = ${colors.background}
foreground = ${colors.foreground}
enable-ipc = true

tray-position = right
; If true, the bar will not shift its
; contents when the tray changes
tray-detached = true

; Tray icon max size
tray-maxsize = 50

; DEPRECATED! Since 3.3.0 the tray always uses pseudo-transparency
; Enable pseudo transparency
; Will automatically be enabled if a fully transparent
; background color is defined using `tray-background`
;tray-transparent = true

; Background color for the tray container 
; ARGB color (e.g. #f00, #ff992a, #ddff1023)
; By default the tray container will use the bar
; background color.
tray-background = ${colors.background}

; Tray offset defined as pixel value (e.g. 35) or percentage (e.g. 50%)
tray-offset-x = 0
tray-offset-y = 0

; Pad the sides of each tray icon
tray-padding = 12

; Scale factor for tray clients
tray-scale = 1.0




;[module/xwindow]
;type = internal/xwindow
;label = %title:0:30:...%

[module/archlogo]
type = custom/text
content = ""
content-font = 7
content-padding = 1
content-foreground = #ff77ff
click-left = jgmenu_run


[module/mycpu]
type = custom/script
exec = ~/.config/polybar/scripts/cpu
;exec-if = pgrep -x openvpn
interval = 6
;format-underline = #268bd2
format-prefix = " "
format-prefix-foreground = ${colors.widget-color}
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
format-prefix-font = 6
;format-suffix = |
click-left = notify-send " CPU hogs" "$(ps axch -o cmd:15,%cpu --sort=-%cpu | head)\\n(100% per core)"
click-middle = notify-send "CPU details"
click-right = kitty sh -c "/home/sanjay/anaconda3/bin/bpytop"
scroll-up =
scroll-down =
double-click-left =
double-click-right =

[module/mymemory]
type = custom/script
exec = ~/.config/polybar/scripts/memory
;exec-if = pgrep -x openvpn
interval = 6

;format-underline = #268bd2
format-prefix = " "
;
format-prefix-foreground = ${colors.widget-color-alt}
format-prefix-background = ${colors.widget-bg-color}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}
format-prefix-font = 6
;format-suffix = |
click-left = notify-send "🧠 Memory hogs" "$(ps axch -o cmd:15,%mem --sort=-%mem | head)"
click-middle = notify-send "🧠 Memory module" "\- Shows Memory Used."
click-right = kitty sh -c "/home/sanjay/anaconda3/bin/bpytop"
scroll-up =
scroll-down =
double-click-left =
double-click-right =


[module/gpu-temp]
type = custom/script
exec = ~/.config/polybar/scripts/gpu-temp
;exec-if = pgrep -x openvpn
interval = 6
;format-underline = #268bd2
format-prefix = " "
format-prefix-foreground = ${colors.widget-color}
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
format-prefix-font = 2
;format-suffix = |
click-left = notify-send "🧠 GPU Details" "$(nvidia-smi)"
click-middle = notify-send "Nvidia GPU" "\- Shows GPU Temp."
click-right = st -e nvidia-settings
scroll-up =
scroll-down =
double-click-left =
double-click-right =


[module/wlan]
type = internal/network
interface = wlp37s0
interval = 20.0
format-connected = <ramp-signal> <label-connected>
format-connected-background = ${colors.widget-bg-color}
format-connected-font = 7
;format-connected-underline = #9f78e1
label-connected = %essid% 
;|
label-connected-foreground = ${colors.widget-color-alt}
label-connected-background = ${colors.widget-bg-color}
;format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}
ramp-signal-0 = 
;
;ramp-signal-1 = 
;ramp-signal-2 = 
;ramp-signal-3 = 
;ramp-signal-4 = 
;
ramp-signal-font = 6
ramp-signal-foreground = ${colors.widget-color-alt}
format-prefix-foreground = ${colors.widget-color-alt}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}

click-left = blueman-manager
click-middle = notify-send "Network" "Click for Wifi Manager
click-right = nm-applet
scroll-up =
scroll-down =
double-click-left =
double-click-right =


[module/mynet]
type = custom/script
exec = ~/.config/polybar/scripts/net
;exec-if = pgrep -x openvpn
interval = 10
;format-underline = #268bd2
format-prefix = ""
format-prefix-foreground = ${colors.widget-color-alt}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}
format-prefix-font = 6
;format-suffix = |
click-left = blueman-manager
click-middle = notify-send "Network" "Click for Wifi Manager
click-right = nm-applet
scroll-up =
scroll-down =
double-click-left =
double-click-right =


[module/myvolume]
type = custom/script
exec = ~/.config/polybar/scripts/volume
;exec-if = pgrep -x openvpn
interval = 5
;format-underline = #268bd2
format-prefix = ""
format-prefix-foreground = ${colors.widget-color}
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
format-font = 2
;format-suffix = |
click-left = pavucontrol
click-middle = notify-send "Volume" "Click for Settings Right click for equalizer"
click-right = kitty sh -c "pulseaudio-equalizer-gtk"
scroll-up = "amixer -q -D pulse sset Master 5%+" 
scroll-down = "amixer -q -D pulse sset Master 5%-" 
double-click-left =
double-click-right =



[module/mypacupdate]
type = custom/script
exec = ~/.config/polybar/scripts/pacupdate
;exec-if = pgrep -x openvpn
interval = 600
;format-underline = #268bd2
format-prefix = " "
format-prefix-foreground = ${colors.widget-color-alt}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}
format-prefix-font = 6
;format-suffix = |
click-left = "st -e paru -Syu"
click-middle = polybar-msg cmd restart
click-right = pamac-manager
scroll-up = notify-send "Pamac Update" "Click for update Right click for pacman"
scroll-down = 
double-click-left =
double-click-right =


[module/date]
type = internal/date
interval = 15
date = " %a, %b %d"
date-alt = " %Y-%m-%d"
time = "%l:%M%p"
time-alt = %H:%M:%S
;format-prefix = 
format-prefix-foreground = ${colors.widget-color-alt}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}
;format-underline = #0a6cf5
label = %date% %time% 
;format-suffix = " |"
;click-middle = gnome-calendar

[module/mydate]
type = custom/script
exec = ~/.config/polybar/scripts/date.sh
;exec-if = pgrep -x openvpn
interval = 10
;format-underline = #268bd2
;format-prefix = " "
format-prefix-foreground = ${colors.widget-color-alt}
format-foreground = ${colors.widget-color-alt}
format-background = ${colors.widget-bg-color}
format-prefix-font = 6
;format-suffix = |
click-left = gnome-calendar
click-middle = notify-send "Left click for calendar, Right click for thunderbird"
click-right = thunderbird
scroll-up = 
scroll-down = 
double-click-left =
double-click-right =

[module/isrunning-picom]
type = custom/script
exec = ~/.config/polybar/scripts/picom.sh
interval = 10
format-suffix = " "
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
format-font = 7
click-left = ~/.config/polybar/scripts/picom.sh --toggle &

[module/powermenu]
type = custom/ipc
hook-0 = echo " "
hook-1 = oblogout && echo " "
initial = 1
format-prefix-foreground = ${colors.widget-color}
format-foreground = ${colors.widget-color}
format-background = ${colors.widget-bg-color-alt}
format-font = 7
format-padding-right = 1
click-left = polybar-msg -p %pid% hook powermenu 2
click-middle = notify-send "Logout/Exit"


[module/dwm]
type = internal/dwm
format = <label-tags> <label-layout> <label-floating> <label-title>
; Path to dwm socket (default: /tmp/dwm.sock)
;socket-path = /tmp/dwm.sock

; Left-click to view tag, right-click to toggle tag view
enable-tags-click = true

enable-tags-scroll = true
tags-scroll-empty = false
tags-scroll-reverse = true
tags-scroll-wrap = true
; Left-click to set secondary layout, right-click to switch to previous layout
enable-layout-click = true
enable-layout-scroll = false
layout-scroll-wrap = false
layout-scroll-reverse = false

; If enable-layout-click = true, clicking the layout symbol will switch to this layout
secondary-layout-symbol = [M]

; Separator in between shown tags
; label-separator = |

label-title = %title%
label-title-maxlen = 35
label-title-padding = ${misc.tag-padding}
label-title-foreground = ${colors.window-name-color}
label-title-background = ${colors.background}
label-title-font = 1

label-layout = %symbol%
label-layout-padding = ${misc.tag-padding}
label-layout-foreground = ${colors.widget-color}
label-layout-background = ${colors.background}
label-layout-font = 1

; focused = Active tag on focused monitor
label-focused = %name%
label-focused-background = ${colors.tag-unfocused-background}
label-focused-foreground = ${colors.tag-focused-foreground}
label-focused-padding = ${misc.tag-padding}
label-focused-font = 7

; unfocused = Inactive tag on any monitor
label-unfocused = %name%
label-unfocused-background = ${colors.tag-unfocused-background}
label-unfocused-foreground = ${colors.tag-unfocused-foreground}
label-unfocused-padding = ${misc.tag-padding}
label-unfocused-font = 7

; visible = Active tag on unfocused monitor
label-visible = %name%
label-visible-background = ${colors.tag-visible-background}
label-visible-foreground = ${colors.tag-visible-foreground}
label-visible-padding = ${misc.tag-padding}
label-visible-font = 7

; urgent = Tag with urgency hint set
label-urgent = %name%
label-urgent-foreground = ${colors.tag-urgent-foreground}
label-urgent-background = ${colors.tag-urgent-background}
label-urgent-padding = ${misc.tag-padding}
label-urgent-font = 7

; empty = Unselected and unoccupied tag
; This can be set to an empty string to hide empty tags
label-empty = %name%
label-empty-background = ${colors.primary}
label-empty-foreground = ${colors.secondary}
label-empty-padding = ${misc.tag-padding}
label-empty-font = 7


[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
pseudo-transparency = true

throttle-output = 5
throttle-output-for = 10
throttle-input-for = 30

[global/wm]
margin-top = 0
margin-bottom = 0

; vim:ft=dosini
